# Python / Django
__pycache__/
*.py[cod]
.venv/
backend/media/
backend/static/

backend/nginx_shared/
backend/config/

# Node / Vue
node_modules/
frontend/dist/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment Variables (資安關鍵)
.env
.env.*
!.env.example

# Database Data (資料不進版控)
db_data/

# IDE Settings
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db